ion-header{
    height: 10%;
}
ion-content{
    position: fixed;
    top: 10%;
    height: 90%;
}
div.text{
  font-family: 'Calibri';
  font-size: 15px;
  color: var(--ion-color-secondary);
  width: 58%;
  height: 100%;
  float: left;
}
div.left{
    width: 42%;
    height: 100%;
    float: right;
    overflow: auto;
}