<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons justify-content-center>
      <ion-button size="large" color="primary" href="">Historia del Ron Cubano</ion-button>
      <ion-icon slot="icon-only" src="/assets/icon/dot_icon.svg" class="activated"></ion-icon>
      <ion-button size="large" href="">Bacardí</ion-button>
      <ion-icon slot="icon-only" src="/assets/icon/dot_icon.svg"></ion-icon>
      <ion-button size="large" href="">Nave Don Pancho</ion-button>
      <ion-icon slot="icon-only" src="/assets/icon/dot_icon.svg"></ion-icon>
      <ion-button size="large" href="">Rones Antiguos de Cuba</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content" slots="fixed">
  <div class="text" [innerHtml]="textContent"></div>
  <div class="left">
    <sp-vertical-gallery [images]="images"></sp-vertical-gallery>
  </div>
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="7">
        <div class="text" [innerHtml]="textContent"></div>
      </ion-col>
      <ion-col size="5">
        <sp-vertical-gallery [images]="images"></sp-vertical-gallery>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
