ion-card{
    margin-top: 0;
    width: 98%;
}
ion-card-header{
    padding: 0;
    border-radius: 0;
    width: 100%;
}
ion-card-title{
    font-family: 'Myriad Pro';
    font-size: calc(11px + (30 - 11)*((100vw - 800px) / (2560 - 800)));
    padding-top: 10px;
    color: var(--ion-color-galvert);
    text-align: left;
}