ion-header{
    padding: 0 4%;
}
ion-content{
    position: fixed;
    --padding-top: 2%;
    top: 6vh;
    height: 70vh;
    --padding-start: 6%;
    --padding-end: 6%;
}
ion-content.submenu{
    top: 12vh;
    height: 65vh;
    --padding-start: 10%;
    --padding-end:10%;
}