ion-header{
    padding: 0 4%;
}
ion-content{
    position: fixed;
    top: 6vh;
    height: 75vh;
    --padding-start: 8%;
    --padding-end: 8%;
    .images{
        column-gap: 0;
        column-fill: auto;
        .one-image {
            margin: calc(2px + (5 - 2)*((100vw - 800px) / (2560 - 800)));
            text-align: center;
        }
    }
}
img{
    width: 100%;
}
ion-content.submenu{
    top: 12vh;
    height: 69vh;
    --padding-start: 10%;
    --padding-end:10%;
}
@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}
@media (min-width: 576px) {
    .images {
        column-count: 3;
    }
}
@media (min-width: 992px) {
    .images {
        column-count: 4;
    }
}