<ion-header no-border>
  <sp-menu-page [menus]="menus" [submenus]="submenus"></sp-menu-page>
</ion-header>
<ion-content slots="fixed">
  <div class="content">
    <h2>Industria Destiladora y Licorera en Santiago de Cuba. 1900 - 1960.</h2>
    <table>
      <thead>
        <tr>
          <th style="width: 8%">Inscripción</th>
          <th style="width: 40%">Empresas</th>
          <th style="width: 27%">Dirección</th>
          <th style="width: 25%">Productos o Marcas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1900</td>
          <td>Rovira y Cia</td>
          <td>Destilería: Finca Sagarra<br />Oficinas: Jagüey No 30-32</td>
          <td>Rhun Old Brany</td>
        </tr>
        <tr>
          <td>1903</td>
          <td>Rovira y Fontanals</td>
          <td>Cristina Baja No 1</td>
          <td>Ron Carta Blanca</td>
        </tr>
        <tr>
          <td>1900</td>
          <td>Mestre Y Giralt<br /><i>(cierran ese mismo año)</i></td>
          <td>Enramada Baja No 55</td>
          <td>Ron</td>
        </tr>
        <tr>
          <td>1905</td>
          <td>Ramon Mestre y Juan Guillaume Giralte</td>
          <td>Jaguey No 14</td>
          <td>Ron La Picota<br />Ron Guillaume No 1</td>
        </tr>
        <tr>
          <td>1900<br />1902<br />1914<br />1916</td>
          <td>Bacardí y Cía</td>
          <td>Marina Baja ( Aguilera) No 32</td>
          <td>Ron Bacardí Superior Carta Blanca<br />Ron Superior<br />Ron Superior 1873<br />Ron Viejo Marca Palma<br />Bacardí ε Co.<br />Ron Bacardí 1873<br />Solera Extra Añejo<br />Extra Superior 1873<br />Carta Oro<br />Carta Blanca</td>
        </tr>
        <tr>
          <td>1901<br />1902<br />1904<br /><br />1905<br />1907<br />1914<br />1905<br />1914<br />1917</td>
          <td>Alvarez Camps y Hnos</td>
          <td>Enramada baja (José Antonio Saco) No 65</td>
          <td>Carta Cuba Ron Selecto<br />Ron Viejo Los Marinos<br />Ron Viejo Selecto<br />La Golondrina<br />Ron Matusalem Extra-Añejo<br />Ron Clase Refino<br />Ron Clarete Clase Corriente<br />Ron Matusalem ExtraViejo<br />Ron Viejos Los Marinos, Paticruzado</td>
        </tr>
        <tr>
          <td>1911</td>
          <td>Salvador Sicars y Salbadó</td>
          <td>Factoría (Peralejo) No 3</td>
          <td>Ron Carta Sicars<br />Ron Carta Gallito<br />Ron Carta No 1</td>
        </tr>
        <tr>
          <td>1907</td>
          <td>Fontanals y Cía</td>
          <td>Jaguey No44</td>
          <td>Anís el Gallito</td>
        </tr>
        <tr>
          <td>1914</td>
          <td>Canals y Cía</td>
          <td></td>
          <td>Ron Caridad del Cobre</td>
        </tr>
        <tr>
          <td>1910</td>
          <td>Francisco del Castillo<br /><i>(Se funda el 10 de marzo de 1910 y por causa de un incendio cierra el 24 de diciembre del propio año)</i></td>
          <td>Paseo de Martí esquina a Matadero</td>
          <td>Elixir Castillo</td>
        </tr>
        <tr>
          <td>1910</td>
          <td>Fabrica de Ron Castillo<br /><i>(Propietario, Cristóbal Rovira Canals, quien adquirió la marca de Francisco Castillo)</i></td>
          <td>Paseo de Martí esquina a Matadero</td>
          <td>Ron Castillo<br />Elixir Castillo<br />Carta Oriente<br />Añejo Extra</td>
        </tr>
        <tr>
          <td>1911/1916</td>
          <td>Rovira, Mestre y Cía</td>
          <td>Enramada Baja No 55</td>
          <td>Ron Superior Carta Blanca Rovira y Guilaume<br />Ron Castillo</td>
        </tr>
        <tr>
          <td>1917</td>
          <td>Benjamín Camps y Nonell<br /><i>(Operó como B. Camps y Cía)</i></td>
          <td>Enramada (José Antonio Saco) No 42</td>
          <td>Ron Clase Refino<br />Ron Benjamín Camp No 17<br />Carta Cuba Ron Selecto</td>
        </tr>
        <tr>
          <td>1917</td>
          <td>José Albuerne, propietario de Cía. Ron Albuerne S.A. fundado en 1917 hasta 1933</td>
          <td>San Jerónimo (Sánchez Hechavarría) No 56</td>
          <td>Ron Albuerne</td>
        </tr>
        <tr>
          <td>1926</td>
          <td>Rovira y Cía. Sociedad en Comandita</td>
          <td>E. J. Varona No 57.<br />Reparto Sagarra</td>
          <td>Ron Superior Carta Blanca Rovira</td>
        </tr>
        <tr>
          <td>1930</td>
          <td>Quintana y Noriega</td>
          <td></td>
          <td>Ron Quintana</td>
        </tr>
        <tr>
          <td>1930</td>
          <td>Pera y Quintana<br /><i>(se fusionan en 1930)</i></td>
          <td></td>
          <td>Ron Quimpera</td>
        </tr>
        <tr>
          <td>1942</td>
          <td>Destilería Oriente. Alambique</td>
          <td>Lorraine baja No 30</td>
          <td>Aguardiente</td>
        </tr>
        <tr>
          <td>1942</td>
          <td>Lingoya Balaguer y Cía. Fabrica de Ron y Licor sin aparatos</td>
          <td>Peralejo baja No 33</td>
          <td>Ron<br />Licores</td>
        </tr>
        <tr>
          <td>1942</td>
          <td>Manuel Linares. Fabrica de Ron y Licor sin aparatos</td>
          <td>Peralejo y Saco</td>
          <td>Ron Linares<br />Licores</td>
        </tr>
        <tr>
          <td>1942</td>
          <td>Francisco Palau. Fabrica de Ron y Licor sin aparatos</td>
          <td>Morua Delgado No 57</td>
          <td>Licores<br />Ron Carta</td>
        </tr>
        <tr>
          <td>1942</td>
          <td>Elias Hadad Fayad. Fabrica de Ron y Licor sin aparatos</td>
          <td>M. Delgado No 65</td>
          <td>Ron</td>
        </tr>
        <tr>
          <td>1943</td>
          <td>Cía Albuerne-Palau<br /><i>(sugida de la union de las Compañías Albuerne y Palau en 1943)</i></td>
          <td>San Jerónimo (Sánchez Hechavarría) No 66</td>
          <td>Carta Oro<br />Carta Blanca<br />Carta 1927</td>
        </tr>
        <tr>
          <td>Década del '40</td>
          <td>Manuel Pera</td>
          <td></td>
          <td>Ron Pera</td>
        </tr>
        <tr>
          <td>1949</td>
          <td>Arnaz Tamarelle y Co.S.L</td>
          <td>Diego Palacios (antes Santa Rita) No 64</td>
          <td>Ron Carta</td>
        </tr>
        <tr>
          <td>1950</td>
          <td>Fabrica de Ron Dario</td>
          <td>San Carlos y Santa Rosa</td>
          <td>Ron Tacuba<br />Ron Dario</td>
        </tr>
        <tr>
          <td>1950</td>
          <td>Canacañón Martell Hnos</td>
          <td>San Juan Nepomuceno (M. Corona) No 858</td>
          <td>Ron Gómez de Cancañon</td>
        </tr>
        <tr>
          <td>1950</td>
          <td>Fabrica de José Loriet</td>
          <td>Calle M. No 120<br />Reparto Fomento</td>
          <td>Ron Bambú</td>
        </tr>
        <tr>
          <td>1951</td>
          <td>Palau-Hadad. Fabrica de Ron y Licor sin aparatos</td>
          <td>M. Delgado No 57-65</td>
          <td>Licores<br />Ron Palau</td>
        </tr>
        <tr>
          <td>1953</td>
          <td>Dimas Fernández. Fábrica de Ron y Licor sin aparatos</td>
          <td>Victoriano Garzón No 204</td>
          <td>Licores<br />Ron</td>
        </tr>
      </tbody>
    </table>
    <hr />
  </div>
</ion-content>