ion-header{
    padding: 0 4%;
}
ion-content{
    position: fixed;
    top: 17%;
    height: 76%;
    --padding-start: 8%;
    --padding-end:8%;
    font-family: 'Calibri';
    font-size: 13px;
    h2{
        font-size: 16px;
    }
    table{
        width: 100%;
        th, td{
            padding: 10px;
            break-inside: avoid;
        }
        th{
            background-color: var(--ion-color-h2);
            color: white;
            font-weight: normal;
            text-transform: uppercase;
            height: 3em;
            text-align: left;
        }
        td{
            border-bottom: 0.1mm solid #444444;
            color: #9F9F9F;
            font-family: 'Calibri Light';
            text-align: justify;
        }
        td:first-child{
            color: var(--ion-color-h2);
            text-align: center;
        }
    }
    hr{
        position: fixed;
        bottom: 5%;
        height: 4px;
        width: 84%;
        background-color: var(--ion-color-h2);
    }
}