<ion-toolbar no-border>
  <ion-buttons justify-content-center>
    <div *ngFor="let item of menus; let last = last; let i = index; trackBy: trackByMenu" class="menu-btn" [class.selected]="item.selected">
      <ion-button size="large" [routerLink]="[item.route]">{{ item.text }}</ion-button>
      <ion-icon *ngIf="!last" slot="icon-only" src="/assets/icon/dot_icon.svg" [class.selected]="menus[i+1].selected"></ion-icon>
    </div>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar *ngIf="submenus" class="submenu">
  <ion-buttons>
    <ion-item *ngFor="let item of submenus; trackBy: trackByMenu" [class.selected]="item.selected">
      <ion-button size="large" [routerLink]="[item.route]">{{ item.text }}</ion-button>
    </ion-item>
  </ion-buttons>
</ion-toolbar>