<ion-header no-border>
  <sp-menu-page [menus]="menus" [submenus]="submenus"></sp-menu-page>
</ion-header>
<ion-content slots="fixed">
  <div class="content">
    <h2>Casas productoras de aguardientes o ron de caña establecidas en Santiago de Cuba. Siglo XIX.</h2>
    <table>
      <thead>
        <tr>
          <th style="width: 8%">Inscripción</th>
          <th style="width: 42%">Casas Productoras</th>
          <th style="width: 23%">Productos o Marcas</th>
          <th style="width: 27%">Calle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1838</td>
          <td>John Nunnes y Bueno</td>
          <td>Aguardiente corriente</td>
          <td>Factoría (Peralejo) No 81</td>
        </tr>
        <tr>
          <td>1846</td>
          <td>Don Pedro Rodríguez Deocampo</td>
          <td>Aguardiente corriente</td>
          <td>Calle del Gallo No 80</td>
        </tr>
        <tr>
          <td>1856</td>
          <td>Don Eduardo de Chanron</td>
          <td>Aguardiente Corriente</td>
          <td>Matadero Viejo (Jobito) No 81</td>
        </tr>
        <tr>
          <td>1859<br />1860</td>
          <td>Don Juan Recio<br /><i>(cerró el 12 de octubre de 1860)</i></td>
          <td>Aguardiente corriente</td>
          <td>Matadero Viejo (Jobito) No 81<br />Matadero Viejo (Jobito) No 40</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Don Pedro Lafont</td>
          <td>Aguardiente corriente</td>
          <td>Casa Mayor (Cuba) No 6</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Sres Roig Giralt y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Marina Baja (Aguilera) No 42</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Don Manuel Idral y Cía<br /><i>(Vende a José Bacardí en febrero de 1862)</i></td>
          <td>Aguardiente corriente</td>
          <td>Marina Baja (Aguilera) No 49<br />Alambique nombrado El Marino</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Don J.León Boutellier<br /><i>(cerró el 18 de marzo de 1862)</i></td>
          <td>Aguardiente refino</td>
          <td>Marina Baja (Aguilera) No 44</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Sres. Boutellier y Bacardí. Sociedad fundada en febrero de 1862 por Don Jose León Boutellier y Don José Bacardí Masó quien luego concede poder especial a su hermano Facundo Bacardí Masó. La sociedad se formaliza en junio del propio año.</td>
          <td>Ron Refino de consumo corriente</td>
          <td>Marina Baja (Aguilera) No 32</td>
        </tr>
        <tr>
          <td>1862</td>
          <td>Comas y Cia</td>
          <td>Aguardiente corriente</td>
          <td>Marina Baja (Aguilera) 40 y 42</td>
        </tr>
        <tr>
          <td>1865</td>
          <td>Don Ramón Bandrich<br /><i>(se establece el 1ro de septiembre de 1865, cierra el 5 de diciembre de ese año)</i></td>
          <td>Aguardiente corriente</td>
          <td>Jaguey No 15</td>
        </tr>
        <tr>
          <td>1866</td>
          <td>Don Carlos Fernández</td>
          <td>Aguardiente corriente</td>
          <td>General la Hera No 14</td>
        </tr>
        <tr>
          <td>1866</td>
          <td>Don Pedro Vendrell y Carbonell</td>
          <td>Aguardiente corriente</td>
          <td>Calle del Gallo No 18</td>
        </tr>
        <tr>
          <td>1872</td>
          <td>Sres. Planas y Carbonell</td>
          <td>Viejo Ron de Jamaica</td>
          <td>Marina Baja (Aguilera) No 40</td>
        </tr>
        <tr>
          <td>1872</td>
          <td>Don Alejandro Milá</td>
          <td>Aguardiente</td>
          <td>Marina Baja (Aguilera) No 42</td>
        </tr>
        <tr>
          <td>1872</td>
          <td>Sres Jacas y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Factoría (Peralejo) No 6</td>
        </tr>
        <tr>
          <td>1872</td>
          <td>Álvarez Camps<br />Camps Hermanos</td>
          <td>Ron Viejo<br />Matusa Rum<br />Ron Matusalem<br />Anís del Gavilan</td>
          <td>Enramadas Baja No 40<br />Enramada y Gallo No 65</td>
        </tr>
        <tr>
          <td>1872</td>
          <td>Schumans, Reiners y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Factoría (Peralejo) No 2</td>
        </tr>
        <tr>
          <td>1873</td>
          <td>Sres Vendrell y Cía<br /><i>(Pasa a los Sres Schuman y Cía el 22 de junio de 1875. Cierran en julio de 1875)</i></td>
          <td>Aguardiente corriente<br />Ron viejo tipo Jamaica</td>
          <td>Enramadas</td>
        </tr>
        <tr>
          <td>1873</td>
          <td>Don Pablo Jacas y Sobrino<br /><i>(Cierran el 30 de noviembre de 1874)</i></td>
          <td>Aguardiente corriente</td>
          <td>Factoría (Jobito) No 6</td>
        </tr>
        <tr>
          <td>1874</td>
          <td>Bacardí y Cía. Constituida el 10 de noviembre de 1874 según convenio social No 292 ante el abogado Rafael Ramírez. Serán
          socios gerentes Don Facundo Bacardí Masó, Don Emilio Bacardí Moreau y Don Facundo Bacardí Moreau. Será socio comanditario Don José León Boutellier. La destilería se registró bajo el nombre de La Tropical.</td>
          <td>Elixir Bacardí<br />Aguardiente<br />Ron Carta Blanca Superior<br />Ron Palmitas<br />Licor 1873</td>
          <td>Marina Baja ( Aguilera) No 32</td>
        </tr>
        <tr>
          <td>1875</td>
          <td>Lino Horrutiner</td>
          <td>Aguardiente corriente</td>
          <td>Enramadas No 62</td>
        </tr>
        <tr>
          <td>1876</td>
          <td>José Bueno y Cia</td>
          <td>Ron Blanco y de Color</td>
          <td>Factoría (Jobito)</td>
        </tr>
        <tr>
          <td>1876</td>
          <td>Felipe Guzmán</td>
          <td>Ron</td>
          <td>Factoría (Jobito)</td>
        </tr>
        <tr>
          <td>1878</td>
          <td>Carbonell Comas y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Marina No 40</td>
        </tr>
        <tr>
          <td>1878</td>
          <td>Vendrell y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Enramadas No 52</td>
        </tr>
        <tr>
          <td>1879</td>
          <td>José Bacardí Moreau<br /><i>(como apoderado de Don Emilio Bacardí y Moreau, su hermano, vende a José Bacardí y Masó el 8 de
          noviembre de 1879)</i></td>
          <td>Aguardiente corriente</td>
          <td>Alambique sito en Matadero No 83</td>
        </tr>
        <tr>
          <td>1879</td>
          <td>Iglesias y Jacas</td>
          <td>Aguardiente corriente</td>
          <td>Paraíso (Plácido, Rpto Flores) No 14</td>
        </tr>
        <tr>
          <td>1880</td>
          <td>Sres Rosll y Compañía</td>
          <td>Aguardiente corriente</td>
          <td>Marina Baja</td>
        </tr>
        <tr>
          <td>1880</td>
          <td>Familia Inglada y Cía</td>
          <td>Aguardiente corriente</td>
          <td>Enramadas</td>
        </tr>
        <tr>
          <td>1880</td>
          <td>Rovira y Cía</td>
          <td>Licores y Aguardiente corriente</td>
          <td>Calzada de Cristina (Lorraine) No 865</td>
        </tr>
        <tr>
          <td>1881</td>
          <td>Pablo Nonel y Cía<br /><i>(Compraron a los Sres Vendrell y Cía)</i></td>
          <td>Aguardiente corriente</td>
          <td>Enramadas No 52</td>
        </tr>
        <tr>
          <td>1881</td>
          <td>Camps y Hermanos</td>
          <td>Ron Viejo</td>
          <td>Enramadas Baja No 40</td>
        </tr>
        <tr>
          <td>1885<br/><br /><br />1894</td>
          <td>Crossi, Mestre y Cia<br /><i>(en el año 1900 se convierten en Mestre y Giralt, manteniendo la misma dirección)</i></td>
          <td>Ron Crossi y Mestre<br />Rhun de la Jamaique<br />Aguardiente<br />Ron Carta Oriental
  </td>
          <td>Marina Baja (Aguilera) No 40/42</td>
        </tr>
        <tr>
          <td>1891</td>
          <td>Manuel Planas y Cía</td>
          <td>Vieux Rhum de la Jamaique<br />Ron Superior</td>
          <td>Catedral Baja (Heredia) No 21</td>
        </tr>
        <tr>
          <td>1885</td>
          <td>Pablo Nonell y E. Camp y Cía</td>
          <td>Ron Jamaica de Pablo Nonell</td>
          <td>Enramadas Baja No 40</td>
        </tr>
        <tr>
          <td>1886</td>
          <td>Don E. Campo y Cía</td>
          <td>Aguardientes y Licores</td>
          <td>Enramadas No 58</td>
        </tr>
        <tr>
          <td>1886</td>
          <td>Don Jun Villafué</td>
          <td>Aguardientes y Licores</td>
          <td>Gallo No 34</td>
        </tr>
        <tr>
          <td>1886</td>
          <td>Rovira Robert y Cía</td>
          <td>Aguardiente corriente</td>
          <td>San Basilio Baja No 71</td>
        </tr>
        <tr>
          <td>1888</td>
          <td>Rovira y Guillaume, y Cía<br /><i>(se disuelve en 1892)</i></td>
          <td>Ron Añejo<br />Ron No 2, La Bandera Española</td>
          <td>San Basilio baja No 71 y 73 esquina a Cristina (luego se trasladan a Jaguey No 14)</td>
        </tr>
        <tr>
          <td>1890</td>
          <td>E. Camps y Compañía</td>
          <td>Aguardiente (Destilería)<br />Ron Viejo<br />Ron Matusalem</td>
          <td>Gallo No 5 y Enramada No 40</td>
        </tr>
        <tr>
          <td>1894</td>
          <td>Rovira y Cía</td>
          <td>Ron</td>
          <td>San Basilio Baja No 71</td>
        </tr>
        <tr>
          <td>1898</td>
          <td>Don Pedro Palau</td>
          <td>Ron Carta Blanca<br />Ron Añejo Tres Palitos</td>
          <td>Rastro No 15</td>
        </tr>
      </tbody>
    </table>
    <hr />
  </div>
</ion-content>
