ion-app{
    background: url("/assets/background.jpg") no-repeat fixed;
    background-size: cover;
}
ion-menu{
    --width: 100%;
    --background: rgba(255, 255, 255, .9);
    ion-content{
        --background: transparent;
    }
}
ion-header{
    height: 17vh;
    ion-toolbar{
        height: 100%;
        --min-height: 100%;
        padding: 1vh 2vw;
        ion-title{
            background: url('/assets/title_header.png') no-repeat center;
            background-size: contain;
        }
    }
    ion-menu-button{
        ion-icon{
            font-size: calc(28px + (92 - 28)*((100vw - 800px) / (2560 - 800)));
            width: 1em;
            height: 1em;
        }
    }
}
ion-menu .vertical-align {
  vertical-align: center;
}
ion-menu ion-button {
  display: block;
  width: 16em;
  margin: 5vh auto 0;
  font-size: calc(14px + (36 - 14)*((100vw - 800px) / (2560 - 800)));
  text-transform: uppercase;
}
#closeMenuBtn {
    width: 10em;
}
ion-router-outlet {
    top: 17vh;
}