ion-app{
    background: url("/assets/background.jpg") no-repeat fixed;
    background-size: cover;
}
ion-menu{
    --width: 100%;
    ion-content{
        --background: rgba(255, 255, 255, .8);
    }
}
ion-header{
    height: 18%;
}
ion-toolbar{
    height: 100%;
    --min-height: 100%;
}
ion-router-outlet{
    top: 18%;
}