<ion-app>
    <ion-menu side="end" type="overlay" swipeGesture="false">
      <ion-header no-border>
        <ion-toolbar no-border mode="ios">
          <ion-title></ion-title>
          <ion-buttons slot="end">
            <ion-button id="closeMenuBtn" (click)="closeMenu()">
              <ion-icon src="/assets/icon/close_icon.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="vertical-align">
          <ion-button shape="round" fill="outline" size="large" [routerLink]="['/historia']" (click)="closeMenu()">
            <ion-label>Historia del Ron</ion-label>
          </ion-button>
          <ion-button shape="round" fill="outline" size="large" [routerLink]="['/obtencion']" (click)="closeMenu()">
            <ion-label>Obtención del Ron</ion-label>
          </ion-button>
          <ion-button shape="round" fill="outline" size="large" [routerLink]="['/personalidades']" (click)="closeMenu()">
            <ion-label>Personalidades</ion-label>
          </ion-button>
          <ion-button shape="round" fill="outline" size="large" [routerLink]="['/roneras']" (click)="closeMenu()">
            <ion-label>Roneras de Cuba</ion-label>
          </ion-button>
          <ion-button shape="round" fill="outline" size="large" [routerLink]="['/galeria']" (click)="closeMenu()">
            <ion-label>Galería de Imágenes</ion-label>
          </ion-button>
          <!-- <ion-button shape="round" fill="outline" size="large" [routerLink]="['/conferencias']" (click)="closeMenu()">
            <ion-label>Conferencias</ion-label>
          </ion-button> -->
        </div>
      </ion-content>
    </ion-menu>
    <ion-header no-border>
      <ion-toolbar no-border>
        <ion-button [routerLink]="['/']" class="title" fill="clear"></ion-button>
        <ion-buttons slot="end">
          <ion-menu-button>
            <ion-icon src="/assets/icon/menu_icon.svg"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet main animated="false"></ion-router-outlet>
</ion-app>
