<ion-slides [options]="sliderOpts" (ionSlideDidChange)="checkIfNavDisabled()" #slides>
  <ion-slide *ngFor="let img of images; trackBy: trackByImage" (click)="openDetail(img)">
    <ion-card>
      <ion-card-header>
        <img [src]="img.src" fxLayoutAlign="center start" />
      </ion-card-header>
      <ion-card-title *ngIf="!likeSteps && img.label" color="primary">{{ img.label }}</ion-card-title>
      <ion-card-content *ngIf="likeSteps">
        <ion-label>0{{ img.id }}</ion-label>
        <ion-note>{{ img.label }}</ion-note>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
<button class="swiper-button-prev" [disabled]="isBegining" (click)="prev()"></button>
<button class="swiper-button-next" [disabled]="isEnd" (click)="next()"></button>
