ion-slides{
    width: 100%;
    height: 100%;
}
ion-card{
    width: 100%;
    height: 100%;
    overflow: visible;
    ion-card-header{
        padding: 0;
        height: 80%;
    }
    ion-card-title{
        font-family: 'Myriad Pro';
        font-size: calc(11px + (32 - 11)*((100vw - 800px) / (2560 - 800)));
        padding-top: 2vh;
        color: var(--ion-color-h2);
    }
}
.sc-ion-card-md-s img{
    height: 100%;
    width: auto;
    max-width: none;
    margin: auto;
}
ion-card.steps{
    ion-card-header{
        height: 75%;
    }
    ion-card-content{
        padding: 0;
        max-width: 190%;
        min-width: 110%;
        width: calc(326px + (871 - 326)*((100vw - 800px) / (2560 - 800)));
        left: calc(-52px + (0 + 52)*((100vw - 800px) / (2560 - 800)));
        text-align: justify;
        position: absolute;
        top: 75%;
        height: 25%;
        ion-label{
            font-size: calc(20px + (48 - 20)*((100vw - 800px) / (2560 - 800)));
            font-weight: bolder;
            color: var(--ion-color-galstep);
            position: absolute;
            left: calc(((38px + (100 - 38)*((100vw - 800px) / (2560 - 800))) + 1vw) * -1);
            background: url('/assets/icon/step.png') no-repeat;
            background-size: contain;
            width: calc(38px + (100 - 38)*((100vw - 800px) / (2560 - 800)));
            min-width: 38px;
            line-height: calc(40px + (120 - 40)*((100vh - 480px) / (1440 - 480)));
            text-align: center;
        }
        ion-note{
            font-family: 'Calibri';
            font-size: calc(12px + (36 - 12)*((100vw - 800px) / (2560 - 800)));
            line-height: 1.1;
            color: var(--ion-color-galhor);
            position: absolute;
            height: 100%;
            overflow: scroll;
        }
    }
}
.swiper-slide{
    opacity: .18;
    transform: scale(0.8);
    height: 80%;
    margin: auto;
    ion-card-title, ion-card-content{
        visibility: hidden;
    }
}
.swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    height: 100%;
    ion-card-title, ion-card-content{
        visibility: visible;
    }
}
.swiper-button-prev, .swiper-button-next{
    position: fixed;
    top: auto;
    bottom: 10%;
    width: 8vh;
    height: 8vh;
}
.swiper-button-prev{
    background: url('/assets/icon/prev_icon.svg') no-repeat;
    background-size: contain;
    left: 15%;
}
.swiper-button-prev:disabled{
    background: url('/assets/icon/prev_icon_disabled.svg') no-repeat;
    background-size: contain;
}
.swiper-button-next{
    background: url('/assets/icon/next_icon.svg') no-repeat;
    background-size: contain;
    right: 15%;
}
.swiper-button-next:disabled{
    background: url('/assets/icon/next_icon_disabled.svg') no-repeat;
    background-size: contain;
}
