ion-header{
    padding: 0 4%;
}
ion-content{
    position: fixed;
    top: 10%;
    height: 88%;
  --padding-start: 4%;
  --padding-end: 4%;
    div.text{
        font-family: 'Calibri';
        font-size: 15px;
        color: var(--ion-color-secondary);
        height: 100%;
        float: left;
        overflow: auto;
        text-align: justify;
    }
    div.left{
        height: 100%;
        float: right;
        overflow: auto;
        padding: 0 2%;
    }
}
ion-content.submenu{
    top: 22%;
    height: 76%;
    --padding-start: 8%;
    --padding-end:8%;
    div.text{
        font-size: 14px;
    }
}