ion-content {
  --background: transparent;
}
.vertical-align {
  vertical-align: center;
}
ion-button {
  display: block;
  width: 17em;
  margin: 5vh auto;
  font-size: 0.85rem;;
  text-transform: uppercase;
}
