<ion-content>
    <div class="vertical-align">
        <ion-button shape="round" fill="outline" size="large" [routerLink]="['/historia']">
            <ion-label>Historia del Ron</ion-label>
        </ion-button>
        <ion-button shape="round" fill="outline" size="large" [routerLink]="['/obtencion']">
            <ion-label>Obtención del Ron</ion-label>
        </ion-button>
        <ion-button shape="round" fill="outline" size="large" [routerLink]="['/personalidades']">
            <ion-label>Personalidades</ion-label>
        </ion-button>
        <ion-button shape="round" fill="outline" size="large" [routerLink]="['/roneras']">
            <ion-label>Roneras de Cuba</ion-label>
        </ion-button>
        <ion-button shape="round" fill="outline" size="large" [routerLink]="['/galeria']">
            <ion-label>Galería de Imágenes</ion-label>
        </ion-button>
        <!-- <ion-button shape="round" fill="outline" size="large" [routerLink]="['/conferencias']">
            <ion-label>Conferencias</ion-label>
        </ion-button> -->
    </div>
</ion-content>
