ion-content {
  --background: transparent;
}
.vertical-align {
  vertical-align: center;
}
ion-button {
  display: block;
  width: 16em;
  margin: 5vh auto 0;
  font-size: calc(14px + (36 - 14)*((100vw - 800px) / (2560 - 800)));
  text-transform: uppercase;
}
