div.evolucion{
    text-align: center;
    padding-top: 10%;
}
ion-slide{
    width: auto;
}
ion-card{
    width: 11vw;
}
ion-card-header{
    padding: 0;
}
ion-card-title{
    font-size: calc(16px + (48 - 16)*((100vw - 800px) / (2560 - 800)));
}
