ion-header, ion-content{
    background: rgba(0, 0, 0, .9);
}
#closeModalBtn{
    width: 10em;
    margin: 20px 0;
}
ion-content{
    --padding-start: 4%;
    --padding-end: 4%;
    font-family: 'Myriad Pro';
    font-size: 1.2rem;
    --color: var(--ion-color-galvert);
}