ion-header, ion-content{
    background: rgba(0, 0, 0, .9);
}
#closeModalBtn{
    width: 10em;
    margin: 20px 0;
}
ion-content{
    --padding-start: 4%;
    --padding-end: 4%;
    font-family: 'Myriad Pro';
    font-size: calc(14px + (40 - 14)*((100vw - 800px) / (2560 - 800)));
    --color: var(--ion-color-galvert);
}