<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons slot="end">
      <ion-button id="closeModalBtn" (click)="closeModal()">
        <ion-icon src="/assets/icon/close_icon.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content" [ngSwitch]="img?.templateType">
  <sp-alambique *ngSwitchCase="'alambique'"></sp-alambique>
  <sp-evolucion *ngSwitchCase="'evolución'"></sp-evolucion>
  <sp-zoom *ngSwitchDefault [img]="img"></sp-zoom>
</ion-content>